/* css styles */

.header {
  
  background: url("images/Toets2daagse_dag1_0098.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding:40px;
  font-size: 7vw;
  margin: -40px 0 20px 0;
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

}

.boom {
  
  transform: scale(1.3);
  
}

.card {
  
  min-height: 300px;
  
}
